[Unit]
Description=IPFS
After=docker.service
Requires=docker.service

[Service]
#User=
ExecStart=/usr/bin/docker run -i --rm \
  --name ipfs \
  -v /etc/ipfs/staging:/export \
  -v /etc/ipfs/data:/data/ipfs \
  -p 4001:4001 \
  -p 4001:4001/udp \
  -p 127.0.0.1:8080:8080 \
  -p 127.0.0.1:5001:5001 \
  --mount type=bind,source=/mnt/pool/music_videos,target=/mnt/pool/music_videos,readonly \
  ipfs/kubo:latest

[Install]
WantedBy=multi-user.target
