[Unit]
Description=Update port forward timer for port %I
Requires=nat@%i.service

[Timer]
# A timer which starts once a day. When activated, it triggers the service
# immediately if it missed the last start time (option Persistent=true), for
# example due to the system being powered off.
OnCalendar=daily
Persistent=true
Unit=nat@%i.service

[Install]
WantedBy=timers.target  

