[Unit]
Description=Add port forward for rtorrent
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/bin/natpmpc -a 6450 6450 TCP 86400
StandardOutput=journal

[Install]
WantedBy=multi-user.target
