[Unit]
Description=Samba
After=docker.service
Requires=docker.service

[Service]
# See example configuration here: https://raw.githubusercontent.com/ServerContainers/samba/master/docker-compose.yml
# NOTE: There seems to be some kind of bug with the %U placeholder on paths, so
# I've removed it from the timemachine entry.
#  -e SAMBA_GLOBAL_STANZA="bind interfaces only = yes; interfaces = fd7a:115c:a1e0:ab12:4843:cd96:625f:8431%%tailscale0/128" \
ExecStart=/usr/bin/docker run \
  --rm \
  --name=samba \
  --net=host \
  -e MODEL='TimeCapsule' \
  -e SAMBA_CONF_LOG_LEVEL=3 \
  -e AVAHI_DISABLE=1 \
  -e WSDD2_DISABLE=1 \
  -e ACCOUNT_simon=simon \
  -e ACCOUNT_aanjuliana=aanjuliana \
  -e UID_simon=1000 \
  -e UID_aanjuliana=1001 \
  -e SAMBA_GLOBAL_STANZA="bind interfaces only = yes; interfaces = 192.168.0.183/24" \
  -e SAMBA_VOLUME_CONFIG_air="[air]; path=/mnt/pool/timemachine/air; valid users = simon; guest ok = no; read only = no; browseable = yes; fruit:time machine = yes; fruit:time machine max size = 5000G" \
  -e SAMBA_VOLUME_CONFIG_mbp="[mbp]; path=/mnt/pool/timemachine/mbp; valid users = aanjuliana; guest ok = no; read only = no; browseable = yes; fruit:time machine = yes; fruit:time machine max size = 5000G" \
  -e SAMBA_VOLUME_CONFIG_pool="[pool]; path=/mnt/pool; valid users = simon; guest ok = no; read only = no; browseable = yes" \
  -v /mnt/pool:/mnt/pool \
  ghcr.io/servercontainers/samba
ExecStop=/usr/bin/docker stop samba

[Install]
WantedBy=multi-user.target

