[Unit]
Description=Keep drives from spinning down
Wants=stat.timer

[Service]
Type=oneshot
ExecStart=/usr/bin/stat --file-system /mnt/pool

[Install]
WantedBy=multi-user.target
