  server {
    listen [${ENO1_IP}]:80;

    server_name jellyfin.jusi.house;

    access_log /var/log/nginx/access.log kv;

    location /.well-known/acme-challenge/ {
      root /var/www/certbot;
    }

    location / {
      return 301 https://$host$request_uri;
    }
  }
