[Unit]
Description=letsencrypt oneshot timer
Requires=docker.service
Requires=letsencrypt-renew-cert.service

[Timer]
OnCalendar=daily
Unit=letsencrypt-renew-cert.service

[Install]
WantedBy=timers.target
