[Unit]
Description=http server for non-public traffic 
After=docker.service
Requires=docker.service

[Service]
Restart=always
ExecStartPre=/usr/bin/docker pull nginx
ExecStart=/usr/bin/docker run -i --rm \
  --name nginx-internal-http \
  --net=host \
  --volume /etc/nginx/nginx-internal-http.conf:/etc/nginx/nginx.conf:ro \
  --volume /etc/nginx/homeassistant.jusi.house.conf.template:/etc/nginx/templates/homeassistant.jusi.house.conf.template:ro \
  --volume /etc/nginx/flood.jusi.house.conf.template:/etc/nginx/templates/flood.jusi.house.conf.template:ro \
  nginx

[Install]
WantedBy=multi-user.target
