[Unit]
Description=https ingress on enp9s0f0
After=docker.service
Requires=docker.service

[Service]
Restart=always
ExecStartPre=/usr/bin/docker pull nginx

# It's better to have nginx listen directly using host networking because then
# we get real remote addresses in the logs. The nginx configuration file
# contains a placeholder for the listen IP address which is set from the
# supplied environment variable when the container starts.
ExecStart=/bin/sh -c "docker run -i --rm \
  --name nginx-ingress-https \
  --net=host \
  --volume /etc/nginx/nginx-ingress-https.conf:/etc/nginx/nginx.conf:ro \
  --volume /etc/nginx/jellyfin.jusi.house.conf.template:/etc/nginx/templates/jellyfin.jusi.house.conf.template:ro \
  --volume /etc/letsencrypt:/etc/letsencrypt:ro \
  --volume /etc/ssl/certs/dhparam.pem:/etc/ssl/certs/dhparam.pem:ro \
  --env ENO1_IP=$(ip -json addr show enp9s0f0 | jq -r '.[].addr_info[] | select(.family == \"inet6\") | select(.scope == \"global\").local') \
  nginx"

[Install]
WantedBy=multi-user.target
